* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* HEADER */
header {
    background: #9F8BE0;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin-bottom: 15px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.categories .item {
    text-align: center;
}

.categories img {
    width: 50px;
}

/* BANNER */
.banner {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.banner img {
    width: 80%;
    border-radius: 10px;
}

/* SALES SECTION */
.sales {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.sales h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #9F8BE0;
    padding: 12px;
    color: white;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

/*  */

/* DESCRIPTION */
.description {
    width: 80%;
    margin: 30px auto;
    line-height: 1.6;
}

.description h3 {
    margin-top: 20px;
    color: #444;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}
